{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Interview Details | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
i.icon-delete { color: #EB5E28; }
.table-shopping > thead > tr > th {
  color: #a49e93;
  font-size: 1.1em;
  font-weight: 300;
}

.table-shopping > tbody > tr > td {
  font-size: 16px;
  padding: 30px 5px;
}

.table-shopping > tbody > tr > td b {
  display: block;
  margin-bottom: 5px;
}

.table-shopping .td-number,
.table-shopping .td-price,
.table-shopping .td-total {
  font-size: 1.2em;
  min-width: 130px;
  text-align: center;
  padding-right: 20px;
}

.table-shopping .td-number small,
.table-shopping .td-price small,
.table-shopping .td-total small {
  margin-right: 3px;
}

.table-shopping .td-product {
  min-width: 170px;
  padding-left: 30px;
}

.table-shopping .td-product strong {
  color: #484541;
  font-size: 1.2em;
  font-weight: 600;
}

.table-shopping .td-number,
.table-shopping .td-total {
  color: #484541;
  font-weight: 600;
}

.table-shopping .td-quantity .btn-group {
  margin-left: 10px;
}

.table-shopping .img-container {
  border-radius: 6px;
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;
  margin-left: 10px;
}

.table-shopping .img-container img {
  width: 100%;
}

.table-shopping .tr-actions > td {
  border-top: 0;
}

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h2 class="title" style="color: #595959;margin-top:25px; margin-bottom:5px;"><i class="material-icons icon_title" style="font-size: 1.5em; position:relative; top:12px; color:#ff9800;">perm_contact_calendar</i>&nbsp;&nbsp;{% if order.get_cart_items.count >= 1 %}CREATE&nbsp;&nbsp;INTERVIEW {% else %} EMPTY CART{% endif %}</h2>
          <h4 class="title text-right">You Have &nbsp;<span style="font-size: 1.8em;color:#ff9800;">{% if order.get_cart_items.count %}{{ order.get_cart_items.count }}{% else %}0{% endif %}</span>&nbsp; Candidate{% if order.get_cart_items.count > 1 %}s{% endif %} In Cart</h4>
          {% if order.get_cart_items.count >= 1 %}<p class="category text-right"><small>This is your selected candidate, They're waiting you to check them out!</small></p>{% else %}<p class="category text-right"><small>Find your candidate!</small></p>{% endif %}
          <br />
        </div>

        
        <div class="table-responsive">
          <table class="table table-shopping">
            <tr>
              <td colspan=2 >
                <a href="{% url 'candidate_cart:order_summary' %}" class="btn btn-warning pull-left">
                  {% if order %}Bact to Cart{% else %}Add Items to Cart {% endif %}
                </a>
              </td>
              <td colspan=3>
                {% if order.get_cart_items %}
                <a href="#" class="pull-right btn btn-primary">Proceed To Checkout</a>
                {% endif %}
              </td>
            </tr>
          </table>
        </div>


      </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('a.delete_candidate').confirm({
  title: 'Delete Candidate Out Of Cart ?!',
  content: "คุณต้องการลบผู้สมัครออกจาก Candidate Cart หรือไม่?",
  buttons: {
    ใช่: function(){
      location.href = this.$target.attr('href');
    },
    ไม่ใช่: function(){
    }
  }
});
</script>
{% endblock %}
