{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Cart | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
i.icon-delete { color: #EB5E28; }
.table-shopping > thead > tr > th {
  color: #a49e93;
  font-size: 1.1em;
  font-weight: 300;
}

.table-shopping > tbody > tr > td {
  font-size: 16px;
  padding: 30px 5px;
}

.table-shopping > tbody > tr > td b {
  display: block;
  margin-bottom: 5px;
}

.table-shopping .td-number,
.table-shopping .td-price,
.table-shopping .td-total {
  font-size: 1.2em;
  min-width: 130px;
  text-align: center;
  padding-right: 20px;
}

.table-shopping .td-number small,
.table-shopping .td-price small,
.table-shopping .td-total small {
  margin-right: 3px;
}

.table-shopping .td-product {
  min-width: 170px;
  padding-left: 30px;
}

.table-shopping .td-product strong {
  color: #484541;
  font-size: 1.2em;
  font-weight: 600;
}

.table-shopping .td-number,
.table-shopping .td-total {
  color: #484541;
  font-weight: 600;
}

.table-shopping .td-quantity .btn-group {
  margin-left: 10px;
}

.table-shopping .img-container {
  border-radius: 6px;
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;
  margin-left: 10px;
}

.table-shopping .img-container img {
  width: 100%;
}

.table-shopping .tr-actions > td {
  border-top: 0;
}

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card">
        <div class="header">
          <h2 class="title" style="color: #595959;margin-top:25px; margin-bottom:5px;"><i class="material-icons icon_title" style="font-size: 1.5em; position:relative; top:12px; color:#ff9800;">how_to_vote<!-- how_to_reg --></i>&nbsp;&nbsp;{% if order.get_cart_items.count >= 1 %} CANDIDATE CART {% else %} EMPTY WISHLIST{% endif %}</h2>
          <h4 class="title text-right">You Have &nbsp;<span style="font-size: 1.8em;color:#ff9800;">{% if order.get_cart_items.count %}{{ order.get_cart_items.count }}{% else %}0{% endif %}</span>&nbsp; Candidate{% if order.get_cart_items.count > 1 %}s{% endif %} In Cart</h4>
          {% if order.get_cart_items.count >= 1 %}<p class="category text-right"><small>This is your selected candidate, They're waiting you to check them out!</small></p>{% else %}<p class="category text-right"><small>Find your candidate!</small></p>{% endif %}
          <br />
        </div>


        <div class="table-responsive">
          <table class="table table-shopping">
            {% if order.get_cart_items.count >= 1 %}
            <thead>
              <tr>
                <th class="text-center"></th>
                <th></th>
                <th class="text-center">ตำแหน่งที่สมัคร</th>
                <th class="text-center">เงินเดือนที่ต้องการ</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in order.get_cart_items %}
              <tr>
                <td>
                  <div class="img-container">
                    <a href="{% url 'candidate_detail' item.candidate.id_number %}"><img src="{% if item.candidate.profile_pic %}{{ item.candidate.profile_pic.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Agenda"></a>
                  </div>
                </td>
                <td class="td-product">
                  <a href="{% url 'candidate_detail' item.candidate.id_number %}"><strong>{{ item.candidate.name_title }}&nbsp;{{ item.candidate.firstname }}&nbsp;&nbsp;{{ item.candidate.lastname }}</strong></a>
                  <p>{{ item.candidate.nickname }}&nbsp;&nbsp;{{ item.candidate.id_number }}</p>
                </td>
                <td class="td-price">
                  {{ item.candidate.position }}
                </td>
                <td class="td-number">
                  {{ item.candidate.salary|intcomma }}
                </td>
                <td class="td-total">
                  <span class="pull-right">
                    <a class="delete_candidate" href="{% url 'candidate_cart:delete_item' item.candidate.id_number %}" data-balloon="remove this item from cart">
                      <i class="material-icons md-18 icon-delete">delete</i>
                    </a>
                  </span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% endif %}
            <tr>
              <td colspan=2 >
                <a href="{% url 'filter' %}" class="btn btn-info pull-left" style="margin-left:40px;">
                  {% if order %}Continue Recruit{% else %}Add Items to Wishlist {% endif %}
                </a>
              </td>
              <td colspan=3>
                {% if order.get_cart_items %}
                <a href="{% url 'candidate_cart:create_interview' %}" class="pull-right btn btn-info btn-fill" style="margin-right:40px;">Proceed To Interview</a>
                {% endif %}
              </td>
            </tr>
          </table>
        </div>


      </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('a.delete_candidate').confirm({
  title: 'Delete Wishlist <i class="material-icons">favorite</i>',
  content: "คุณต้องการลบผู้สมัครออกจาก Wishlist หรือไม่?",
  buttons: {
    ใช่: function(){
      location.href = this.$target.attr('href');
    },
    ไม่ใช่: function(){
    }
  }
});
</script>
{% endblock %}
