{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Cart | WebRecruiter
{% endblock %}

{% block stylesheet %}
<link href="{% static 'rotating-card/rotating-card.css' %}" rel="stylesheet"/>
<style media="screen">
i.icon-delete { color: #EB5E28; }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="title">
        </h1>
        <div class="col-sm-10 col-sm-offset-1">
        <!-- Podium #2 -->
         <div class="col-md-4 col-sm-6">

           <div class="card-container manual-flip" style="margin-top:80px;">
             <div class="card card-user">
               <div class="front">
                 <div class="head-icons-ndth">
                   <i class="fa fa-trophy" aria-hidden="true" style="color:#CCC2C2;"></i>
                 </div>
                 <div class="image">
                   <img src="{% if topthree.1.candidate.profile_pic %}{{ topthree.1.candidate.profile_pic.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="-webkit-filter: blur(8px); filter: blur(8px);">
                 </div>
                 <div class="content">
                   <div class="author">
                     <img class="avatar border-white" src="{% if topthree.1.candidate.profile_pic %}{{ topthree.1.candidate.profile_pic.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."/>
                     <div class="tag-wrapper">
                       {% for skill in Skills %}
                       <div class="tag">
                         <label for="">{{ skill }}</label>
                       </div>
                       {% endfor %}
                     </div><!-- End Wrapper -->
                   </div>
                   <div class="main">
                       <h3 class="name">{{ topthree.1.candidate.firstname }}&nbsp;&nbsp;&nbsp; {{ topthree.1.candidate.lastname }}</h3>
                       <p class="profession">{{ topthree.1.candidate.position }}</p>
                   </div>
                   <div class="footer" style="margin-top:-30px;">
                     <button class="btn btn-simple" onclick="rotateCard(this)"><i class="fa fa-mail-forward"></i> More Details</button>
                   </div>
                 </div>
               </div>
               <div class="back">
                   <div class="header">
                       <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                   </div>
                   <div class="content">
                       <div class="main">
                           <h4 class="text-center">Job Description</h4>
                           <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                           <div class="stats-container">
                               <div class="stats">
                                   <h4>235</h4>
                                   <p>
                                       Followers
                                   </p>
                               </div>
                               <div class="stats">
                                   <h4>114</h4>
                                   <p>
                                       Following
                                   </p>
                               </div>
                               <div class="stats">
                                   <h4>35</h4>
                                   <p>
                                       Projects
                                   </p>
                               </div>
                           </div>

                       </div>
                   </div>
                   <div class="footer">
                     <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)"><i class="fa fa-reply"></i></button>
                       <div class="social-links text-center">
                           <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                           <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                           <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                       </div>
                   </div>
               </div> <!-- end back panel -->
             </div>
          </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <!-- Podium #1 -->
        <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip" style="margin-top:0px;">
            <div class="card card-user">
              <div class="front">
                <div class="image">
                  <img src="{% if topthree.0.candidate.profile_pic %}{{ topthree.0.candidate.profile_pic.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="-webkit-filter: blur(8px); filter: blur(8px);">
                </div>
                <div class="head-icons-st">
                  <i class="fa fa-trophy" aria-hidden="true" style="color:#D9A441;"></i>
                </div>
                <div class="content">
                  <div class="author">
                    <img class="avatar border-white" src="{% if topthree.0.candidate.profile_pic %}{{ topthree.0.candidate.profile_pic.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."/>
                    <div class="tag-wrapper">
                      {% for skill in Skills %}
                      <div class="tag">
                        <label for="">{{ skill }}</label>
                      </div>
                      {% endfor %}
                    </div><!-- End Wrapper -->
                  </div>
                  <div class="main">
                      <h3 class="name">{{ topthree.0.candidate.firstname }}&nbsp;&nbsp;&nbsp; {{ topthree.0.candidate.lastname }}</h3>
                      <p class="profession">{{ topthree.0.candidate.position }}</p>
                  </div>
                  <div class="footer" style="margin-top:-30px;">
                    <button class="btn btn-simple" onclick="rotateCard(this)"><i class="fa fa-mail-forward"></i> More Details</button>
                  </div>
                </div>
              </div>
              <div class="back">
                  <div class="header">
                      <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h4 class="text-center">Job Description</h4>
                          <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                          <div class="stats-container">
                              <div class="stats">
                                  <h4>235</h4>
                                  <p>
                                      Followers
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>114</h4>
                                  <p>
                                      Following
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>35</h4>
                                  <p>
                                      Projects
                                  </p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)"><i class="fa fa-reply"></i></button>
                      <div class="social-links text-center">
                          <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      </div>
                  </div>
              </div> <!-- end back panel -->
            </div>
         </div> <!-- end card-container -->

       </div> <!-- end col sm 3 -->

        <!-- Podium #3 -->
        <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip" style="margin-top:110px;">
            <div class="card card-user">
              <div class="front">
                <div class="head-icons-ndth">
                  <i class="fa fa-trophy" aria-hidden="true" style="color:#965A38;"></i>
                </div>
                <div class="image">
                  <img src="{% if topthree.2.candidate.profile_pic %}{{ topthree.2.candidate.profile_pic.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="-webkit-filter: blur(8px); filter: blur(8px);">
                </div>
                <div class="content">
                  <div class="author">
                    <img class="avatar border-white" src="{% if topthree.2.candidate.profile_pic %}{{ topthree.2.candidate.profile_pic.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."/>
                    <div class="tag-wrapper">
                      {% for skill in Skills %}
                      <div class="tag">
                        <label for="">{{ skill }}</label>
                      </div>
                      {% endfor %}
                    </div><!-- End Wrapper -->
                  </div>
                  <div class="main">
                      <h3 class="name">{{ topthree.2.candidate.firstname }}&nbsp;&nbsp;&nbsp; {{ topthree.2.candidate.lastname }}</h3>
                      <p class="profession">{{ topthree.2.candidate.position }}</p>
                  </div>
                  <div class="footer" style="margin-top:-30px;">
                    <button class="btn btn-simple" onclick="rotateCard(this)"><i class="fa fa-mail-forward"></i> More Details</button>
                  </div>
                </div>
              </div>
              <div class="back">
                  <div class="header">
                      <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                  </div>
                  <div class="content">
                      <div class="main">
                          <h4 class="text-center">Job Description</h4>
                          <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

                          <div class="stats-container">
                              <div class="stats">
                                  <h4>235</h4>
                                  <p>
                                      Followers
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>114</h4>
                                  <p>
                                      Following
                                  </p>
                              </div>
                              <div class="stats">
                                  <h4>35</h4>
                                  <p>
                                      Projects
                                  </p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)"><i class="fa fa-reply"></i></button>
                      <div class="social-links text-center">
                          <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                          <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                          <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      </div>
                  </div>
              </div> <!-- end back panel -->
            </div>
         </div> <!-- end card-container -->
       </div> <!-- end col sm 3 -->

        </div> <!-- end col-sm-10 -->
    </div> <!-- end row -->
</div>
<div class="container-fluid">
  <div class="row">
    <form >
      <div class="col-md-12">
        <div class="fresh-table">
          <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->
        <table id="fresh-table" class="table">
          <thead>
            <th data-field="id" data-sortable="true" class="text-center">อันดับ</th>
            <th data-field="id_number" data-sortable="true">หมายเลขบัตรประชาชน</th>
            <th data-field="name" data-sortable="true">ชื่อผู้สมัคร</th>
            <th data-field="count" data-sortable="true" class="text-center">จำนวนความต้องการ</th>
            <th data-field="owner">Engineer ที่ต้องการ</th>
          </thead>
          <tbody>
            {% for rank in ranks%}
            <tr>
              <td>{{ forloop.counter }}&nbsp;&nbsp;&nbsp;{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3%}<i class="fas fa-award" style=" font-size: 18px;{% if forloop.counter == 1%}color:#D9A441;
                                                                                                                                                                                     {% elif forloop.counter == 2%}color:#CCC2C2
                                                                                                                                                                                     {% elif forloop.counter == 3%}color:#965A38
                                                                                                                                                                                     {% endif %}"></i>{% endif %}</td>
              <td><a href="/filter/{{rank.candidate.id_number}}/" style="color: #ff9800; font-weight: 400;">{{ rank.candidate.id_number }}</a></td>
              <td>{{ rank.candidate.name_title }} {{ rank.candidate.firstname }}&nbsp;&nbsp;&nbsp;&nbsp; {{ rank.candidate.lastname }}</td>
              <td>{{rank.get_candidate_owner.count}}</td>
              <td>
                {% for owner in rank.get_candidate_owner %}
                  {{ owner }}
                {% endfor%}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('a.delete_candidate').confirm({
  title: 'Delete Wishlist <i class="material-icons">favorite</i>',
  content: "คุณต้องการลบผู้สมัครออกจาก Wishlist หรือไม่?",
  buttons: {
    ใช่: function(){
      location.href = this.$target.attr('href');
    },
    ไม่ใช่: function(){
    }
  }
});
</script>
<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46172202-4', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
