{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Cart | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
i.icon-delete { color: #EB5E28; }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <form>
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Candidate Rank {{ranks.count}}</h4>
          </div>
          <div class="content">
          </div>
        </div>
      </div>
    </form>
    <form >
      <div class="col-md-12">
        <div class="fresh-table">
          <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->
        <table id="fresh-table" class="table">
          <thead>
            <th data-field="id" data-sortable="true" class="text-center">อันดับ</th>
            <th data-field="id_number" data-sortable="true">หมายเลขบัตรประชาชน</th>
            <th data-field="name" data-sortable="true">ชื่อผู้สมัคร</th>
            <th data-field="count" data-sortable="true" class="text-center">จำนวนความต้องการ</th>
            <th data-field="owner">Engineer ที่ต้องการ</th>
          </thead>
          <tbody>
            {% for rank in ranks%}
            <tr>
              <td>{{ forloop.counter }}&nbsp;&nbsp;&nbsp;{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3%}<i class="fas fa-award" style=" font-size: 18px;{% if forloop.counter == 1%}color:#D9A441;
                                                                                                                                                                                     {% elif forloop.counter == 2%}color:#CCC2C2
                                                                                                                                                                                     {% elif forloop.counter == 3%}color:#965A38
                                                                                                                                                                                     {% endif %}"></i>{% endif %}</td>
              <td><a href="/filter/{{rank.candidate.id_number}}/" style="color: #ff9800; font-weight: 400;">{{ rank.candidate.id_number }}</a></td>
              <td>{{ rank.candidate.name_title }} {{ rank.candidate.firstname }}&nbsp;&nbsp;&nbsp;&nbsp; {{ rank.candidate.lastname }}</td>
              <td>{{rank.count}}</td>
              <td>
                {% for owner in rank.get_candidate_owner %}
                  {{ owner }}
                {% endfor%}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('a.delete_candidate').confirm({
  title: 'Delete Wishlist <i class="material-icons">favorite</i>',
  content: "คุณต้องการลบผู้สมัครออกจาก Wishlist หรือไม่?",
  buttons: {
    ใช่: function(){
      location.href = this.$target.attr('href');
    },
    ไม่ใช่: function(){
    }
  }
});
</script>
{% endblock %}
