{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Cart | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
i.icon-delete { color: #EB5E28; }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <form method="POST" enctype=multipart/form-data>
      {% csrf_token %}
      <div class="row">
        <div class="title-page">
          <div class="col-lg-8 col-sm-offset-2 text-center">
            <h2>CANDIDATE RANKING</h2>
            <h4><small>อันดับความนิยมของผู้สมัคร จัดอันดับตามความต้องการของวิศวกรจากรายการโปรด (Wishlist) <br/>จัดอันดับตามช่วงเวลาที่ผู้สมัครกรอกลงในระบบ</small> </h4>
            <div class="col-lg-6 col-sm-offset-3 text-center">
              <div class="dropdown" style="margin-bottom:30px;">
                <button href="#" class="btn btn-info btn-fill dropdown-toggle" data-toggle="dropdown">
                  เลือกช่วงเวลายที่ผู้สมัครกรอกลงในระบบ
                  <b class="caret"></b>
                </button>
                <ul class="dropdown-menu" style="width:200px; left:50%; margin-left:-100px;">
                  <li><a href="{% url 'rank_filter_day' 1 %}">อายุใบสมัคร 1 วัน</a></li>
                  <li><a href="{% url 'rank_filter_day' 15 %}">อายุใบสมัคร 15 วัน</a></li>
                  <li><a href="{% url 'rank_filter_day' 31 %}">อายุใบสมัคร 1 เดือน</a></li>
                  <li><a href="{% url 'rank_filter_day' 61 %}">อายุใบสมัคร 2 เดือน</a></li>
                  <li><a href="{% url 'rank_filter_day' 122 %}">อายุใบสมัคร 4 เดือน</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'rank' %}">ผู้สมัครทั้งหมด</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if ranks %}
        <div class="col-md-12">
          <div class="fresh-table">
            <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
          -->
          <div class="toolbar">
          </div>
          <table id="fresh-table" class="table">
            <thead>
              <th data-field="id" data-sortable="true" class="text-center">อันดับ</th>
              <th data-field="id_number" data-sortable="true">หมายเลขบัตรประชาชน</th>
              <th data-field="name" data-sortable="true">ชื่อผู้สมัคร</th>
              <th data-field="count" data-sortable="true" class="text-center">จำนวนความต้องการ</th>
              <th data-field="owner">Engineer ที่ต้องการ</th>
            </thead>
            <tbody>
              {% for rank in ranks%}
              <tr>
                <td>{{ forloop.counter }}&nbsp;&nbsp;&nbsp;{% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3%}<i class="fas fa-award" style=" font-size: 18px;{% if forloop.counter == 1%}color:#D9A441;
                {% elif forloop.counter == 2%}color:#CCC2C2
                {% elif forloop.counter == 3%}color:#965A38
                {% endif %}"></i>{% endif %}</td>
                <td><a href="/filter/{{rank.candidate.id_number}}/" style="color: #ff9800; font-weight: 400;">{{ rank.candidate.id_number }}</a></td>
                <td>{{ rank.candidate.name_title }} {{ rank.candidate.firstname }}&nbsp;&nbsp;&nbsp;&nbsp; {{ rank.candidate.lastname }}</td>
                <td>{{rank.get_candidate_owner.count}}</td>
                <td>
                  {% for owner in rank.get_candidate_owner %}
                  {{ owner }}
                  {% endfor%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
      {% else %}
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <br>
        <i class="pe-7s-star" style="font-size:180px; color:#e5e4e0">
          <span class="label"></span>
        </i>
        <p style="font-size:40px; color:#e5e4e0">NO RANKING</p>
        <p style="font-size:15px; color:#e5e4e0">Don't Have Candidate Between this selected time </p>
      </div>
      {% endif%}
  </form>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('a.delete_candidate').confirm({
  title: 'Delete Wishlist <i class="material-icons">favorite</i>',
  content: "คุณต้องการลบผู้สมัครออกจาก Wishlist หรือไม่?",
  buttons: {
    ใช่: function(){
      location.href = this.$target.attr('href');
    },
    ไม่ใช่: function(){
    }
  }
});
</script>
{% endblock %}
