{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Details | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
input[type="text"]:disabled {
  background: #fff;
  color : #66615b;
}
.form-group label {
  color : #66615b;
}
p.thick {
  font-weight: 400;
  color : #66615b;
}
p.small-thick {
  font-weight: 400;
  font-size: 1em;
  color : #66615b;
}
p.small {
  font-size: 1em;
  color : #66615b;
}
.number_circle{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  border: 1px solid #828282;
  border-radius: 100%;
  text-align: center;
  margin: 0 0 10px 0;
  line-height: 40px;
  color: #565656;
}
.no_caption{
  text-align: center;
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.no_caption label{
  font-weight: 200;
  font-size: 2em;
  opacity: 0.5;

}
</style>

<style media="screen">
.tag-wrapper{
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.tag{
  display: inline-block;
  position: relative;
  margin: 0px 5px 5px 0px;
}

.tag label{
  padding: 7px 16px 6px 16px;
  position: relative;
  z-index: 0;
  color: #444444;
  display: block;
  border-radius: 16px;
  background: #fff2e5;

  transition: all 0.08s ease-in;
}
.tag label:hover{
  background: #ffe6ce;
  transition: all 0.08s ease-in;
}
</style>

<style media="screen">
.card-timeline .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.card-timeline .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #E3E3E3;
  left: 50%;
  margin-left: -1.5px;
  background-color: #e8e7e3;
}

.card-timeline .timeline h6 {
  color: #9A9A9A;
  font-weight: 400;
  margin: 10px 0px 0px;
}

.card-timeline .timeline.timeline-simple:before {
  left: 5%;
  background-color: #e8e7e3;
}

.card-timeline .timeline.timeline-simple > li > .timeline-panel {
  width: 86%;
}

.card-timeline .timeline.timeline-simple > li > .timeline-badge {
  left: 5%;
}

.card-timeline .timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.card-timeline .timeline > li:before, .card-timeline .timeline > li:after {
  content: " ";
  display: table;
}

.card-timeline .timeline > li:after {
  clear: both;
}

.card-timeline .timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #ededed;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
}

.card-timeline .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ededed;
  border-right: 0 solid #fff8ed;
  border-bottom: 15px solid transparent;
  content: " ";

}

.card-timeline .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #FFFFFF;
  border-right: 0 solid #FFFFFF;
  border-bottom: 14px solid transparent;
}

.card-timeline .timeline > li > .timeline-badge {
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.card-timeline .timeline > li > .timeline-badge [class^="ti-"],
.card-timeline .timeline > li > .timeline-badge [class*=" ti-"] {
  line-height: inherit;
}

.card-timeline .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  background-color: #fff8ed;
}

.card-timeline .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.card-timeline .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.card-timeline .timeline-heading {
  margin-bottom: 15px;
}

.card-timeline .timeline-badge.primary {
  background-color: #b8d8d8 !important;
}

.card-timeline .timeline-badge.info {
  background-color: #b8d8d8 !important;
}

.card-timeline .timeline-badge.success {
  background-color: #d5e5a3 !important;
}

.card-timeline .timeline-badge.warning {
  background-color: #ffe28c !important;
}

.card-timeline .timeline-badge.danger {
  background-color: #ff8f5e !important;
}

.card-timeline .timeline-title {
  margin-top: 0;
  color: inherit;
}

.card-timeline .timeline-body > p,
.card-timeline .timeline-body > ul {
  margin-bottom: 0;
  display:inline
}

.card-timeline .timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 991px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #cfcfca;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
  }
  .timeline:before {
    left: 5%;
  }
  .timeline > li > .timeline-badge {
    left: 5%;
  }
  .timeline > li .timeline-panel {
    float: right;
    width: 89%;
  }
  .timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline h6 {
    font-size: 0.9em;
  }
  .timeline > .timeline-inverted .timeline-panel {
    width: 89%;
  }
}
</style>
<style media="screen">

.progress {
  background-color: #cfcfca;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
  margin: 6px 0px 0px 0px;
}

.progress-thin {
  height: 4px;
}

.progress-bar {
  background-color: #7A9E9F;
}

.progress-bar-primary {
  background-color: #7A9E9F;
}

.progress-bar-info {
  background-color: #68B3C8;
}

.progress-bar-success {
  background-color: #7AC29A;
}

.progress-bar-warning {
  background-color: #F3BB45;
}

.progress-bar-danger {
  background-color: #EB5E28;
}
</style>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="card card-user">
        <div class="image">
          <img src="{% if Selected_candidate.profile_pic %}{{ Selected_candidate.profile_pic.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="-webkit-filter: blur(8px); filter: blur(8px);">
          <!-- <img src="assets/img/background.jpg" alt="..."/> -->
        </div>
        <div class="content">
          <div class="author">
            <img class="avatar border-white" src="{% if Selected_candidate.profile_pic %}{{ Selected_candidate.profile_pic.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="..."/>
            <h4 class="title">{{ Selected_candidate.name_title }} {{ Selected_candidate.firstname }}     {{ Selected_candidate.lastname }}<br />
              <small>{{ Selected_candidate.date_apply }} </small>
            </h4>
            <div class="tag-wrapper">
              {% for skill in Skills %}
              <div class="tag">
                <label for="">{{ skill }}</label>
              </div>
              {% endfor %}

            </div><!-- End Wrapper -->
          </div>
          <hr>
          <div class="text-center">
            <div class="row">
              <div class="col-md-12">
                <h5>{{ Selected_candidate.position|title }}<br /><small>ตำแหน่งที่สมัคร</small></h5>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <h5>{{ Selected_candidate.salary|intcomma }}<br /><small>เงินเดือนที่ต้องการ</small></h5>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="{% url 'candidate_cart:add_to_cart' Candidate_id %}"><button type="submit" class="btn btn-info btn-fill btn-wd">Add to Wishlist</button></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h4 class="title">Contacts</h4>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-xs-9">
                  <div class="from-group">
                    เบอร์มือถือ (Mobile No.)
                    <br />
                    {% if Selected_candidate.mobile_no %}
                    <span class="text-success"><small>{{ Selected_candidate.mobile_no }}</small></span>
                    {% else %}
                    <span class="text-muted"><small>ไม่ระบุ</small></span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-xs-3 text-right">
                  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-phone"></i></btn>
                </div>
              </div>
            </li>
            <li>
              <div class="row">

                <div class="col-xs-9">
                  <div class="from-group">
                    เบอร์โทรศัพท์บ้าน (Home No.)
                    <br />
                    {% if Selected_candidate.home_no %}
                    <span class="text-success"><small>{{ Selected_candidate.home_no }}</small></span>
                    {% else %}
                    <span class="text-muted"><small>ไม่ระบุ</small></span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-xs-3 text-right">
                  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-phone"></i></btn>
                </div>
              </div>
            </li>
            <li>
              <div class="row">

                <div class="col-xs-9">
                  <div class="from-group">
                    อีเมลล์ (Email)
                    <br />
                    {% if Selected_candidate.email %}
                    <span class="text-success"><small>{{ Selected_candidate.email }}</small></span>
                    {% else %}
                    <span class="text-muted"><small>ไม่ระบุ</small></span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-xs-3 text-right">
                  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xs-9">
                  <div class="from-group">
                    Facebook
                    <br />
                    {% if Selected_candidate.facebook %}
                    <span class="text-success"><small>{{ Selected_candidate.facebook }}</small></span>
                    {% else %}
                    <span class="text-muted"><small>ไม่ระบุ</small></span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-xs-3 text-right">
                  <a href="https://www.facebook.com/{{ Selected_candidate.facebook }}"><btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-facebook-f"></i></btn></a>

                </div>
              </div>
            </li>
            <li>
              <div class="row">

                <div class="col-xs-9">
                  <div class="from-group">
                    Line
                    <br />
                    {% if Selected_candidate.line %}
                    <span class="text-success"><small>{{ Selected_candidate.line }}</small></span>
                    {% else %}
                    <span class="text-muted"><small>ไม่ระบุ</small></span>
                    {% endif %}
                  </div>
                </div>

                <div class="col-xs-3 text-right">
                  <btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-globe"></i></btn>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h4 class="title">Attachment</h4>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-xs-9" style="margin-top:5px;">
                  เรซูเม่ (Resume)
                </div>

                <div class="col-xs-3 text-right">
                  <a href="{% url 'download_resume' Selected_candidate.id_number %}"><btn class="btn btn-sm btn-success">Download</btn></a>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xs-9" style="margin-top:5px;">
                  ผลการเรียน (Transcript)
                </div>

                <div class="col-xs-3 text-right">
                  <a href="{% url 'download_transcript' Selected_candidate.id_number %}"><btn class="btn btn-sm btn-success">Download</btn></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-7">
      <div class="card">
        <div class="header">
          <h4 class="title">ข้อมูลพื้นฐาน</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>ชื่อจริง (First Name)</label>
                  <input type="text" class="form-control border-input" disabled style="background-color:#fff;" placeholder="Firstname" value="{{ Selected_candidate.firstname }}">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>นามสกุล (Last Name)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="นามสกุล" value="{{ Selected_candidate.lastname }}">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>ชื่อเล่น (Nickname)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="nickname" value="{{ Selected_candidate.nickname }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>วันเกิด (Date of Birth)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="bdate" value="{{ Selected_candidate.bdate }}">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>อายุ (Age)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Username" value="19 ปี">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>กรุ๊ปเลือด (Blood)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="blood" value="{{ Selected_candidate.blood }}">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>สถานภาพ (Status)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="blood" value="{{ Selected_candidate.status }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>สัญชาติ (Nationality)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Nationality" value="{{ Selected_candidate.nationality }}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>เชื้อชาติ (Race)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Race" value="{{ Selected_candidate.race }}">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>ศาสนา (Religion)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Religion" value="{{ Selected_candidate.religion }}">
                </div>
              </div>
            </div>
            {% if Selected_candidate.military_status %}
            <div class="row">
              {% if Selected_candidate.military_status == 'militaryPass' %}
              <div class="col-md-12">
                <div class="form-group">
                  <label>สถานะทหาร (Military Status)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Nationality" value="{% if  Selected_candidate.military_status == "militaryPass" %} ผ่านการเกณฑ์ทหาร {% elif Selected_candidate.military_status == "militaryGrace" %} ผ่อนผัน {% elif Selected_candidate.military_status == "militaryExempt" %} ได้รับการยกเว้น {% endif %}">
                </div>
              </div>
              {% else %}
              <div class="col-md-5">
                <div class="form-group">
                  <label>สถานะทหาร (Military Status)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Nationality" value="{% if  Selected_candidate.military_status == "militaryPass" %} ผ่านการเกณฑ์ทหาร {% elif Selected_candidate.military_status == "militaryGrace" %} ผ่อนผัน {% elif Selected_candidate.military_status == "militaryExempt" %} ได้รับการยกเว้น {% endif %}">
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label>เหตุผล (Reason)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="Race" value="{{ Selected_candidate.military_reason }}">
                </div>
              </div>
              {% endif %}
            </div>
            {% endif %}

            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <!-- การศึกษาปัจจุบัน -->
      {% if Selected_candidate.check_study == 'isStudy_yes' %}
      <div class="card">
        <div class="header">
          <h4 class="title">ข้อมูลการศึกษาปัจจุบัน</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>ประเภทการศึกษา (Education Level)</label>
                  <input type="text" class="form-control border-input" disabled style="background-color:#fff;" placeholder="Education Level" value="{{ Selected_candidate.nowEdu_level }}">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label>ชื่อสถานศึกษา (Institute Name)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="institute" value="{{ Selected_candidate.nowEdu_instituteName }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>สาขาวิชา (Major)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="bdate" value="{{ Selected_candidate.nowEdu_major }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>เกรดเฉลี่ย (GPA)</label>
                  <input type="text" class="form-control border-input" disabled placeholder="gpa" value="{{ Selected_candidate.nowEdu_gpa }}">
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      {% endif %}
      <!-- ความสามารถด้านภาษา -->
      <div class="card card-timeline">
        <div class="header">
          <h4 class="title">ความสามารถด้านภาษา</h4>
        </div>
        <div class="content">
          {% if SkillLanguage %}
          <form>
            {% for skill_language in SkillLanguage %}
            <div class="card" style="background-color: #f7f7f7;">
              <div class="header">
                <div class="row">
                  <div class="col-sm-8">
                    <h5 class="title">ภาษา{{ skill_language.skill_language }}</h5>
                  </div>
                  <div class="col-md-4 text-right">
                    {% if skill_language.skill_language_typing == '' or skill_language.skill_language_typing == '-' %}
                    <h6 class="title" style="margin: 7px 0px 0px 0px; color: #a3a3a3;">ไม่ระบุจำนวนคำพิมดีด</h6>
                    {% else %}
                    <h6 class="title" style="margin: 7px 0px 0px 0px;">พิมดีด {{ skill_language.skill_language_typing }} คำ/นาที</h6>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="row">
                  <div rel="tooltip" title="ทักษะภาษา{{ skill_language.skill_language }}ด้านการฟัง : {{ skill_language.skill_language_listen }}">
                    <div class="col-md-1 text-right">
                      <label>ฟัง</label>
                    </div>
                    <div class="col-md-11">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {% if skill_language.skill_language_listen == 'ดีมาก' %} 100%;
                        {% elif  skill_language.skill_language_listen == 'ดี' %} 75%;
                        {% elif  skill_language.skill_language_listen == 'พอใช้' %} 50%;
                        {% elif  skill_language.skill_language_listen == 'ใช้ได้น้อย' %} 25%; {% endif %} background-color:#ff9800;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div rel="tooltip" title="ทักษะภาษา{{ skill_language.skill_language }}ด้านการพูด : {{ skill_language.skill_language_speak }}">
                  <div class="col-md-1 text-right">
                    <label>พูด</label>
                  </div>
                  <div class="col-md-11">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% if skill_language.skill_language_speak == 'ดีมาก' %} 100%;
                      {% elif  skill_language.skill_language_speak == 'ดี' %} 75%;
                      {% elif  skill_language.skill_language_speak == 'พอใช้' %} 50%;
                      {% elif  skill_language.skill_language_speak == 'ใช้ได้น้อย' %} 25%; {% endif %} background-color:#ff9800;">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div rel="tooltip" title="ทักษะภาษา{{ skill_language.skill_language }}ด้านการอ่าน : {{ skill_language.skill_language_read }}">
                <div class="col-md-1 text-right">
                  <label>อ่าน</label>
                </div>
                <div class="col-md-11">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% if skill_language.skill_language_read == 'ดีมาก' %} 100%;
                    {% elif  skill_language.skill_language_read == 'ดี' %} 75%;
                    {% elif  skill_language.skill_language_read == 'พอใช้' %} 50%;
                    {% elif  skill_language.skill_language_read == 'ใช้ได้น้อย' %} 25%; {% endif %} background-color:#ff9800;">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div rel="tooltip" title="ทักษะภาษา{{ skill_language.skill_language }}ด้านการเขียน : {{ skill_language.skill_language_write }}">
              <div class="col-md-1 text-right">
                <label>เขียน</label>
              </div>
              <div class="col-md-11">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% if skill_language.skill_language_write == 'ดีมาก' %} 100%;
                  {% elif  skill_language.skill_language_write == 'ดี' %} 75%;
                  {% elif  skill_language.skill_language_write == 'พอใช้' %} 50%;
                  {% elif  skill_language.skill_language_write == 'ใช้ได้น้อย' %} 25%; {% endif %} background-color:#ff9800;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </form>
  {% else %}
  <div class="row no_caption">
    <label>ไม่ระบุ</label>
  </div>
  {% endif %}
</div>
</div>
<!-- ประวัติการอบรม , ประกาศนียบัตร , รางวัล -->
<div class="card card-timeline">
  <div class="header">
    <h4 class="title">ประวัติการอบรม , ประกาศนียบัตร , รางวัล</h4>
  </div>
  <div class="content">
    {% if CertExperience %}
    <ul class="list-unstyled team-members">
      {% for cert_experience in CertExperience %}
      <div class="row">
        <div class="col-lg-1 text-center">
          <span class="number_circle">1</span>
        </div>
        <div class="col-lg-11">
          <div class="form-group">
            <label>ชื่อหัวข้อหลักสูตร / ประกาศนียบัตร</label>
            <input type="text" class="form-control border-input" disabled style="background-color:#fff;" placeholder="Education Level" value="{{ cert_experience.experience_name }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 text-center">
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>สถาบันฝึกอบรม</label>
            <input type="text" class="form-control border-input" disabled style="background-color:#fff;" placeholder="Education Level" value="{{ cert_experience.experience_institute }}">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group">
            <label>วุฒิที่ได้รับ</label>
            <input type="text" class="form-control border-input" disabled style="background-color:#fff;" placeholder="Education Level" value="{{ cert_experience.experience_cert }}">
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <div class="row no_caption">
      <label>ไม่ระบุ</label>
    </div>
    {% endif %}
  </div>
</div>
<!-- ประสบการณ์ทำงาน ฝึกงาน -->
<div class="card card-timeline">
  <div class="header">
    <h4 class="title">ประสบการณ์ทำงาน ฝึกงาน</h4>
  </div>
  <div class="content">
    {% if WorkExperience %}
    <ul class="timeline">
      {% for work_experience in WorkExperience %}
      <li {% if  forloop.counter|divisibleby:2 %} {% else %}class="timeline-inverted"{% endif %}>
        <div class="timeline-badge {% if forloop.counter|divisibleby:8 %} success
        {% elif  forloop.counter|divisibleby:7 %} info
        {% elif  forloop.counter|divisibleby:6 %} warning
        {% elif  forloop.counter|divisibleby:5 %} danger
        {% elif  forloop.counter|divisibleby:4 %} warning
        {% elif  forloop.counter|divisibleby:3 %} info
        {% elif  forloop.counter|divisibleby:2 %} success
        {% else %} danger{% endif %}">
        <i class="{% if forloop.counter|divisibleby:2 %} ti-bag
        {% else %} ti-home {% endif %}"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="label label-danger">{{ work_experience.experience_companyStartDate}} - {{ work_experience.experience_companyEndDate }}</span>
        </div>
        <div class="timeline-body">
          <p class="thick">ตำแหน่ง : {{ work_experience.experience_companyPosition }}<p><br>
            <p class="small-thick">บริษัท : </p> <p class="small">{{ work_experience.experience_companyName }}</p><br>
            <p class="small-thick">ลักษณะธุรกิจ : </p> <p class="small">{{ work_experience.experience_companyType }}</p><br>
            <p class="small-thick">เงินเดือนล่าสุด : </p> <p class="small">{{ work_experience.experience_companySalary }}</p><br>
            <p class="small-thick">เหตุผลที่ลาออก : </p> <p class="small">{{ work_experience.experience_companyReason }}</p><br>

          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="row no_caption">
      <label>ไม่ระบุ</label>
    </div>
    {% endif %}
  </div>
</div>
<!-- ประวัติการศึกษา -->
<div class="card card-timeline">
  <div class="header">
    <h4 class="title">ประวัติการศึกษา</h4>
  </div>
  <div class="content">
    {% if HistoryEducation %}
    <ul class="timeline">
      {% for history_education in HistoryEducation %}
      <li {% if  forloop.counter|divisibleby:2 %} {% else %}class="timeline-inverted"{% endif %}>
        <div class="timeline-badge {% if history_education.edu_level.value == 'level_voca' %} warning
        {% elif  history_education.edu_level.value == 'level_secSch' %} info
        {% elif  history_education.edu_level.value == 'level_priSch' %} success
        {% elif  history_education.edu_level.value == 'level_other' %} danger
        {% elif  history_education.edu_level.value == 'level_masDe' %} warning
        {% elif  history_education.edu_level.value == 'level_hiVoca' %} info
        {% elif  history_education.edu_level.value == 'level_hiSch' %} success
        {% elif  history_education.edu_level.value == 'level_bacDe' %} danger{% endif %}">
        <i class="{% if history_education.edu_level.value == 'level_voca' %} ti-ruler-alt
        {% elif  history_education.edu_level.value == 'level_secSch' %} ti-ruler-pencil
        {% elif  history_education.edu_level.value == 'level_priSch' %} ti-crown
        {% elif  history_education.edu_level.value == 'level_other' %} ti-infinite
        {% elif  history_education.edu_level.value == 'level_masDe' %} ti-book
        {% elif  history_education.edu_level.value == 'level_hiVoca' %} ti-shield
        {% elif  history_education.edu_level.value == 'level_hiSch' %} ti-gallery
        {% elif  history_education.edu_level.value == 'level_bacDe' %} ti-blackboard{% endif %}"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <span class="label label-danger">{{ history_education.edu_fromYear}} - {{ history_education.edu_toYear }}</span>
        </div>
        <div class="timeline-body">
          <p class="thick">{{ history_education.edu_level.education_level }}<p><br>
            <p class="small-thick">ประเทศที่จบ : </p> <p class="small">{{ history_education.edu_country.countryNameTH }}</p><br>
            <p class="small-thick">ชื่อสถานศึกษา : </p> <p class="small">{{ history_education.edu_instituteName }}</p><br>
            <p class="small-thick">สาขาวิชา : </p> <p class="small">{{ history_education.edu_major }}</p><br>
            <p class="small-thick">เกรดเฉลี่ย : </p> <p class="small">{{ history_education.edu_gpa }}</p><br>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="row no_caption">
      <label>ไม่ระบุ</label>
    </div>
    {% endif %}
  </div>
</div>

</div>





</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
