{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
Filter Candidate | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
.selected_table {
  color:  #ff9800;
  font-weight: 100;
}
.number_circle{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  border: 1px solid #828282;
  border-radius: 100%;
  text-align: center;
  margin: 0 0 10px 0;
  line-height: 40px;
  color: #565656;
}
i.icon-delete { color: #EB5E28; }
i.icon-add { color: #565656; }
i.icon-submit { color: #ffff; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }

</style>
<!-- CSS & JS Multiple Input by Tagify -->
<link rel="stylesheet" href="/static/css/tagify.css">
<script src="/static/js/tagify.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="POST" enctype=multipart/form-data>
    {% csrf_token %}
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Filter Candidate</h4>
        </div>

        <div class="content">

          <div id="filter">

            <div id="1" class="filter_list">
              <div class="row">
                <div class="col-lg-4">
                  <div class="col-lg-2 text-center">
                    <span class="number_circle">1</span>
                  </div>
                  <div class="col-lg-10">
                    <select class="form-control"  name="filter_option" id="filter_option1">
                      <option selected disabled value="0">Select a filter</option>
                      <option value="1">ตำแหน่ง</option>
                      <option value="2">เงินเดือน</option>
                      <option value="3">อายุ</option>
                      <option value="4">เพศ</option>
                      <option value="5">สัญชาติ</option>
                      <option value="6">สถานภาพ</option>
                      <option value="7">สถานะการศึกษาปัจจุบัน</option>
                      <!-- <option value="8">มหาวิทยาลัย</option> -->
                      <!-- <option value="9">คณะ</option> -->
                      <option value="10">สาขาวิชา</option>
                      <option value="11">เกรดเฉลี่ย</option>
                      <option value="12">ความสามารถด้านคอมพิวเตอร์</option>
                      <option value="13">ความสามารถด้านภาษา</option>
                      <option value="14">การอบรม ประกาศนียบัตร และ รางวัล</option>
                      <option value="15">ประสบการณ์ทำงาน ฝึกงาน</option>
                    </select>
                  </div>
                </div>
                <!-- POSITION -->
                <div class="col-lg-7" id="position_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px;" name="operator_position">
                      <option selected="" disabled value="0">Operator Position</option>
                      <option value="1">ตำแหน่ง (is)</option>
                      <option value="2">ไม่ใช่ตำแหน่ง (isnot)</option>
                      <option value="3">ตำแหน่งที่มี (contains)</option>
                      <option value="4">ตำแหน่งที่ไม่มี (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="ตำแหน่ง" name="filter_position">
                    </div>
                  </div>
                </div>
                <!-- SALARY -->
                <div class="col-lg-7" id="salary_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_salary">
                      <option selected="" disabled value="0">Operator Salary</option>
                      <option value="1">เท่ากับ (=)</option>
                      <option value="2">มากกว่าเท่ากับ (>=)</option>
                      <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                      <option value="4">มากกว่า (>)</option>
                      <option value="5">น้อยกว่า (<)</option>
                      <option value="6">ระหว่าง (Between)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="เงินเดือน" name="filter_salary">
                    </div>
                  </div>
                </div>
                <!-- AGE -->
                <div class="col-lg-7" id="age_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px">
                      <option selected="" disabled value="0">Operator Age</option>
                      <option value="1">เท่ากับ (=)</option>
                      <option value="2">มากกว่าเท่ากับ (>=)</option>
                      <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                      <option value="4">มากกว่า (>)</option>
                      <option value="5">น้อยกว่า (<)</option>
                      <option value="6">ระหว่าง (Between)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="อายุ" name="filter_age">
                    </div>
                  </div>
                </div>
                <!-- GENDER -->
                <div class="col-lg-7" id="gender_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_gender">
                      <option selected="" disabled value="0">Operator Gender</option>
                      <option value="1">เพศ (is)</option>
                      <option value="2">ไม่เอาเพศ (isnot)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <select class="form-control" style="margin-top:0px" name="filter_gender">
                      <option selected="" hidden value="0">--- เลือกเพศ ---</option>
                      <option value="m">ชาย (Men)</option>
                      <option value="w">หญิง (Women)</option>
                    </select>
                  </div>
                </div>
                <!-- NATIONALITY -->
                <div class="col-lg-7" id="nationality_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_nationality">
                      <option selected="" disabled value="0">Operator Nationality</option>
                      <option value="1">สัญชาติ (is)</option>
                      <option value="2">ไม่เอาสัญชาติ (isnot)</option>
                      <option value="3">สัญชาติที่เป็น (contains)</option>
                      <option value="4">สัญชาติที่ไม่เป็น (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="สัญชาติ" name="filter_nationality">
                    </div>
                  </div>
                </div>
                <!-- STATUS -->
                <div class="col-lg-7" id="status_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_status">
                      <option selected="" disabled value="0">Operator Status</option>
                      <option value="1">สถานภาพ (is)</option>
                      <option value="2">ไม่เอาสถานภาพ (isnot)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <select class="form-control" style="margin-top:0px" name="filter_status">
                      <option selected="" hidden value="0">--- เลือกสถานภาพ ---</option>
                      <option value="โสด">โสด (Single)</option>
                      <option value="สมรส">สมรส (Married)</option>
                      <option value="หม้าย">หม้าย (Widowed)</option>
                      <option value="หย่า">หย่า (Divorced)</option>
                    </select>
                  </div>
                </div>
                <!-- EDU -->
                <div class="col-lg-7" id="edu_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_edu">
                      <option selected="" disabled value="0">--- เลือกสถานะการศึกษา ---</option>
                      <option value="1">อยู่ระหว่างการศึกษา</option>
                      <option value="2">สำเร็จการศึกษาแล้ว</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <p> </p>
                  </div>
                </div>
                <!-- university -->
                <div class="col-lg-7" id="university_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_university">
                      <option selected="" disabled value="0">Operator University</option>
                      <option value="1">มหาวิทยาลัย (is)</option>
                      <option value="2">ไม่เอามหาวิทยาลัย (isnot)</option>
                      <option value="3">มหาวิทยาลัยที่เป็น (contains)</option>
                      <option value="4">มหาวิทยาลัยที่ไม่เป็น (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="มหาวิทยาลัย" name="filter_university">
                    </div>
                  </div>
                </div>
                <!-- FACULTY -->
                <div class="col-lg-7" id="faculty_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_faculty">
                      <option selected="" disabled value="0">Operator Faculty</option>
                      <option value="1">คณะ (is)</option>
                      <option value="2">ไม่เอาคณะ (isnot)</option>
                      <option value="3">คณะที่เป็น (contains)</option>
                      <option value="4">คณะที่ไม่เป็น (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="คณะ" name="filter_faculty">
                    </div>
                  </div>
                </div>
                <!-- GPA -->
                <div class="col-lg-7" id="gpa_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_gpa">
                      <option selected="" disabled value="0">Operator GPA</option>
                      <option value="1">เท่ากับ (=)</option>
                      <option value="2">มากกว่าเท่ากับ (>=)</option>
                      <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                      <option value="4">มากกว่า (>)</option>
                      <option value="5">น้อยกว่า (<)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="เกรดเฉลี่ย" name="filter_gpa">
                    </div>
                  </div>
                </div>
                <!-- Computer Skill -->
                <div class="col-lg-7" id="comskill_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_comskill">
                      <option selected="" disabled value="0">Operator Computer Skill</option>
                      <option value="1">ทักษะ (is)</option>
                      <option value="2">ไม่เอาทักษะ (isnot)</option>
                      <option value="3">ทักษะที่มี (contains)</option>
                      <option value="4">ทักษะที่ไม่มี (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <div rel="tooltip" title="กรอกเฉพาะ keyword สำคัญ เช่น python , css , troupleshoot">
                        <input name="tags1" class="" id="tags" placeholder="กรอกความสามารถด้านคอมพิวเตอร์ที่ต้องการ" value="" autofocus>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- MAJOR -->
                <div class="col-lg-7" id="major_value1">
                  <div class="col-lg-4">
                    <select class="form-control" style="margin-top:0px" name="operator_major">
                      <option selected="" disabled value="0">Operator Major</option>
                      <option value="1">สาขา (is)</option>
                      <option value="2">ไม่เอาสาขา (isnot)</option>
                      <option value="3">สาขาที่เป็น (contains)</option>
                      <option value="4">สาขาที่ไม่เป็น (isnot contains)</option>
                    </select>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="สาขาวิชา" name="filter_major">
                    </div>
                  </div>
                </div>
                <!-- LANGUAGE -->
                <div class="col-lg-7" id="language_value1">
                  <div class="col-lg-6">
                    <select class="form-control" style="margin-top:0px" name="operator_language">
                      <option selected="" disabled value="0">Operator Language</option>
                      <option value="1">มีความสามารถด้านภาษา (is)</option>
                      <option value="2">ไม่เอาผู้ที่มีความสามารถด้านภาษา (isnot)</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <select class="form-control" style="margin-top:0px" name="filter_language">
                      <option selected="" hidden value="0">--- เลือกภาษา ---</option>
                      <option value="ไทย" is-active="1">ไทย</option>
                      <option value="อังกฤษ" is-active="1">อังกฤษ</option>
                      <option value="ญี่ปุ่น" is-active="1">ญี่ปุ่น</option>
                      <option value="จีน" is-active="0">จีน</option>
                      <option value="มาเลเซีย" is-active="1">มาเลเซีย</option>
                      <option value="เกาหลี" is-active="1">เกาหลี</option>
                      <option value="เขมร" is-active="1">เขมร</option>
                      <option value="เดนมาร์ก" is-active="1">เดนมาร์ก</option>
                      <option value="เยอรมัน" is-active="1">เยอรมัน</option>
                      <option value="ฝรั่งเศส" is-active="1">ฝรั่งเศส</option>
                      <option value="ลาว" is-active="1">ลาว</option>
                      <option value="สเปน" is-active="1">สเปน</option>
                      <option value="อิตาลี" is-active="1">อิตาลี</option>
                      <option value="จีน" is-active="1">จีน</option>
                      <option value="รัสเซีย" is-active="1">รัสเซีย</option>
                    </select>
                  </div>
                </div>
                <!--  Delete Button  -->
                <div class="col-lg-1">
                  <div class="text-center" style="margin-top: 8px;">
                    <button type="button" id="1" class="btn btn-simple btn-xs btn_remove"><i class="material-icons md-18 icon-delete">delete</i></button>
                  </div>
                </div>
              </div><!-- End Row -->
            </div><!-- End filter_list -->

          </div><!-- End Filter -->
          <div class="footer">
            <hr />
            <div >
              <div class="row">
                <button type="button" id="add" class="btn btn-icon" style="margin-left: 32px;"><i class="material-icons md-18 icon-add">add</i></button>
                <button type="submit" id="submit" class="btn btn-submit " style="margin-left: 10px;"><i class="material-icons md-18 icon-submit">filter_list</i></button>
                <a href="javascript:FilterCandidate()"><button type="button" class="btn btn-submit " style="margin-left: 10px;"><i class="material-icons md-18 icon-submit">filter_list</i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div id="result">
    {% include 'filtered_candidate.html' %}
  </div>
<br>


</div>
</div>
{% endblock %}
{% block javascript %}
<!-- jquery Smart Filter -->
<script src="{% static 'js/filter-option.js' %}"></script>
<script src="{% static 'js/smart_filter.js' %}"></script>

<script type="text/javascript">
var value_list = new Array();
var test = "Hi";
$alertBtn.click(function () {
  $("tbody input:checked").each(function() {
    value = $(this).parents("tr:first").data("val");
    value_list.push(value);
  });
  $.ajax({
    type : 'POST',
    url : 'add_to_cart/',
    data : {
      value_list : value_list,
      csrfmiddlewaretoken:"{{ csrf_token }}"
    },
    sucess:function(){}
  });
  console.log(value_list);
});
</script>


<!-- Multiple Tag by Tagify -->

<script data-name="basic">
$('#tags').each(function(){
  var list = {{ Skill_json|safe }}
  var input = document.querySelector("input[name=tags1]"),
  // init Tagify script on the above inputs
  tagify = new Tagify(input, {
    whitelist : list,
    blacklist : ["react", "angular"]
  });

  // "remove all tags" button event listener
  document.querySelector(".tags--removeAllBtn")
  .addEventListener("click", tagify.removeAllTags.bind(tagify))

  // Chainable event listeners
  tagify.on("add", onAddTag)
  .on("remove", onRemoveTag)
  .on("invalid", onInvalidTag);

  // tag added callback
  function onAddTag(e){
    console.log(e, e.detail);
    console.log( tagify.DOM.originalInput.value )
    tagify.off("add", onAddTag) // exmaple of removing a custom Tagify event
  }

  // tag remvoed callback
  function onRemoveTag(e){
    console.log(e, e.detail);
  }

  // invalid tag added callback
  function onInvalidTag(e){
    console.log(e, e.detail);
  }
  console.log(  tagify.value )
})
</script>

<script type="text/javascript">
function FilterCandidate() {
  var filter_option = [];

  var operator_position = [];
  var filter_position = [];

  var operator_salary = [];
  var filter_salary = [];

  var operator_gender = [];
  var filter_gender = [];

  var operator_gpa = [];
  var filter_gpa = [];

  var operator_status = [];
  var filter_status = [];

  var operator_edu = [];

  var operator_nationality = [];
  var filter_nationality = [];

  var operator_major = [];
  var filter_major = [];

  var operator_comskill = [];
  var filter_comskill = [];

  var operator_language = [];
  var filter_language = [];

  $("select[name='filter_option']").each(function() {
      filter_option.push($(this).val());
  });
  // POSITION FILTER
  $("select[name='operator_position']").each(function() {
      operator_position.push($(this).val());
  });
  $("input[name='filter_position']").each(function() {
      filter_position.push($(this).val());
  });
  // SALARY FILTER
  $("select[name='operator_salary']").each(function() {
      operator_salary.push($(this).val());
  });
  $("input[name='filter_salary']").each(function() {
      filter_salary.push($(this).val());
  });
  // GENDER FILTER
  $("select[name='operator_gender']").each(function() {
      operator_gender.push($(this).val());
  });
  $("select[name='filter_gender']").each(function() {
      filter_gender.push($(this).val());
  });
  // GPA FILTER
  $("select[name='operator_gpa']").each(function() {
      operator_gpa.push($(this).val());
  });
  $("input[name='filter_gpa']").each(function() {
      filter_gpa.push($(this).val());
  });
  // STATUS FILTER
  $("select[name='operator_status']").each(function() {
      operator_status.push($(this).val());
  });
  $("select[name='filter_status']").each(function() {
      filter_status.push($(this).val());
  });
  // EDU FILTER
  $("select[name='operator_edu']").each(function() {
      operator_edu.push($(this).val());
  });
  // NATIONALITY FILTER
  $("select[name='operator_nationality']").each(function() {
      operator_nationality.push($(this).val());
  });
  $("input[name='filter_nationality']").each(function() {
      filter_nationality.push($(this).val());
  });
  // MAJOR FILTER
  $("select[name='operator_major']").each(function() {
      operator_major.push($(this).val());
  });
  $("input[name='filter_major']").each(function() {
      filter_major.push($(this).val());
  });
  // COMSKILL FILTER
  $("select[name='operator_comskill']").each(function() {
      operator_comskill.push($(this).val());
  });
  $("input[id='tags']").each(function() {
      filter_comskill.push($(this).val());
  });
  // LANGUAGE FILTER
  $("select[name='operator_language']").each(function() {
      operator_language.push($(this).val());
  });
  $("select[name='filter_language']").each(function() {
      filter_language.push($(this).val());
  });


  var json_filter_option = JSON.stringify(filter_option);

  var json_operator_position = JSON.stringify(operator_position);
  var json_filter_position = JSON.stringify(filter_position);

  var json_operator_salary = JSON.stringify(operator_salary);
  var json_filter_salary = JSON.stringify(filter_salary);

  var json_operator_gender = JSON.stringify(operator_gender);
  var json_filter_gender = JSON.stringify(filter_gender);

  var json_operator_gpa = JSON.stringify(operator_gpa);
  var json_filter_gpa = JSON.stringify(filter_gpa);

  var json_operator_status = JSON.stringify(operator_status);
  var json_filter_status = JSON.stringify(filter_status);

  var json_operator_edu = JSON.stringify(operator_edu);

  var json_operator_nationality = JSON.stringify(operator_nationality);
  var json_filter_nationality = JSON.stringify(filter_nationality);

  var json_operator_major = JSON.stringify(operator_major);
  var json_filter_major = JSON.stringify(filter_major);

  var json_operator_comskill = JSON.stringify(operator_comskill);
  var json_filter_comskill = JSON.stringify(filter_comskill);

  var json_operator_language = JSON.stringify(operator_language);
  var json_filter_language = JSON.stringify(filter_language);

  $.ajax({
    type : 'POST',
    url : 'testajax/',
    dataType : "json",
    async : true,
    data : {
      filter_option : json_filter_option,
      operator_position : json_operator_position,
      filter_position : json_filter_position,
      operator_salary : json_operator_salary,
      filter_salary : json_filter_salary,
      operator_gender : json_operator_gender,
      filter_gender : json_filter_gender,
      operator_gpa : json_operator_gpa,
      filter_gpa : json_filter_gpa,
      operator_status : json_operator_status,
      filter_status : json_filter_status,
      operator_edu : json_operator_edu,
      operator_nationality : json_operator_nationality,
      filter_nationality : json_filter_nationality,
      operator_major : json_operator_major,
      filter_major : json_filter_major,
      operator_comskill : json_operator_comskill,
      filter_comskill : json_filter_comskill,
      operator_language : json_operator_language,
      filter_language : json_filter_language,

      csrfmiddlewaretoken:"{{ csrf_token }}"
    },
    success: function(response){
      $('#result').html(response['html'])
    }
  })
}
</script>




{% endblock %}
