{% extends 'base_layout.html' %}
{% load static %}

{% block stylesheet %}
<style media="screen">
.selected_table {
  color:  #ff9800;
  font-weight: 100;
}
.number_circle{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  border: 1px solid #828282;
  border-radius: 100%;
  text-align: center;
  margin: 0 0 10px 0;
  line-height: 40px;
  color: #565656;
}
i.icon-delete { color: #EB5E28; }
i.icon-add { color: #565656; }
i.icon-submit { color: #ffff; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <form method="POST" enctype=multipart/form-data>
      {% csrf_token %}
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Filter Candidate</h4>
          </div>

          <div class="content">

            <div id="filter">

              <div id="1" class="filter_list">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="col-lg-2 text-center">
                      <span class="number_circle">1</span>
                    </div>
                    <div class="col-lg-10">
                      <select class="form-control" name="filter_option" id="filter_option1">
                        <option selected value="0">Select a filter</option>
                        <option value="1">ตำแหน่ง</option>
                        <option value="2">เงินเดือน</option>
                        <option value="3">อายุ</option>
                        <option value="4">เพศ</option>
                        <option value="5">สัญชาติ</option>
                        <option value="6">สถานภาพ</option>
                        <option value="7">สถานะการศึกษาปัจจุบัน</option>
                        <option value="8">มหาวิทยาลัย</option>
                        <option value="9">คณะ</option>
                        <option value="10">สาขาวิชา</option>
                        <option value="11">เกรดเฉลี่ย</option>
                        <option value="12">ความสามารถด้านคอมพิวเตอร์</option>
                        <option value="13">ความสามารถด้านภาษา</option>
                        <option value="14">การอบรม ประกาศนียบัตร และ รางวัล</option>
                        <option value="15">ประสบการณ์ทำงาน ฝึกงาน</option>
                      </select>
                    </div>
                  </div>
                  <!-- POSITION -->
                  <div class="col-lg-7" id="position_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px;" name="operator_position">
                        <option selected="" value="0">Operator Position</option>
                        <option value="1">ตำแหน่ง (is)</option>
                        <option value="2">ไม่ใช่ตำแหน่ง (isnot)</option>
                        <option value="3">ตำแหน่งที่มี (contains)</option>
                        <option value="4">ตำแหน่งที่ไม่มี (isnot contains)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="ตำแหน่ง" name="filter_position">
                      </div>
                    </div>
                  </div>
                  <!-- SALARY -->
                  <div class="col-lg-7" id="salary_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_salary">
                        <option selected="" value="0">Operator Salary</option>
                        <option value="1">เท่ากับ (=)</option>
                        <option value="2">มากกว่าเท่ากับ (>=)</option>
                        <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                        <option value="4">มากกว่า (>)</option>
                        <option value="5">น้อยกว่า (<)</option>
                        <option value="6">ระหว่าง (Between)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="เงินเดือน" name="filter_salary">
                      </div>
                    </div>
                  </div>
                  <!-- AGE -->
                  <div class="col-lg-7" id="age_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px">
                        <option selected="" value="0">Operator Age</option>
                        <option value="1">เท่ากับ (=)</option>
                        <option value="2">มากกว่าเท่ากับ (>=)</option>
                        <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                        <option value="4">มากกว่า (>)</option>
                        <option value="5">น้อยกว่า (<)</option>
                        <option value="6">ระหว่าง (Between)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="อายุ" name="filter_age">
                      </div>
                    </div>
                  </div>
                  <!-- GENDER -->
                  <div class="col-lg-7" id="gender_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_gender">
                        <option selected="" value="0">Operator Gender</option>
                        <option value="1">เพศ (is)</option>
                        <option value="2">ไม่เอาเพศ (isnot)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <select class="form-control" style="margin-top:0px" name="filter_gender">
                        <option selected="" value="0">--- เลือกเพศ ---</option>
                        <option value="m">ชาย (Men)</option>
                        <option value="w">หญิง (Women)</option>
                      </select>
                    </div>
                  </div>
                  <!-- NATIONALITY -->
                  <div class="col-lg-7" id="nationality_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px">
                        <option selected="" value="0">Operator Nationality</option>
                        <option value="1">สัญชาติ (is)</option>
                        <option value="2">ไม่เอาสัญชาติ (isnot)</option>
                        <option value="3">สัญชาติที่เป็น (contains)</option>
                        <option value="4">สัญชาติที่ไม่เป็น (isnot contains)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="สัญชาติ" name="filter_nationality">
                      </div>
                    </div>
                  </div>
                  <!-- STATUS -->
                  <div class="col-lg-7" id="status_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_status">
                        <option selected="" value="0">Operator Status</option>
                        <option value="1">สถานภาพ (is)</option>
                        <option value="2">ไม่เอาสถานภาพ (isnot)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <select class="form-control" style="margin-top:0px" name="filter_status">
                        <option selected="" value="0">--- เลือกสถานภาพ ---</option>
                        <option value="โสด">โสด (Single)</option>
                        <option value="สมรส">สมรส (Married)</option>
                        <option value="หม้าย">หม้าย (Widowed)</option>
                        <option value="หย่า">หย่า (Divorced)</option>
                      </select>
                    </div>
                  </div>
                  <!-- EDU -->
                  <div class="col-lg-7" id="edu_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_edu">
                        <option selected="" value="0">--- เลือกสถานะการศึกษา ---</option>
                        <option value="1">อยู่ระหว่างการศึกษา</option>
                        <option value="2">สำเร็จการศึกษาแล้ว</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <p> </p>
                    </div>
                  </div>
                  <!-- university -->
                  <div class="col-lg-7" id="university_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_university">
                        <option selected="" value="0">Operator University</option>
                        <option value="1">มหาวิทยาลัย (is)</option>
                        <option value="2">ไม่เอามหาวิทยาลัย (isnot)</option>
                        <option value="3">มหาวิทยาลัยที่เป็น (contains)</option>
                        <option value="4">มหาวิทยาลัยที่ไม่เป็น (isnot contains)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="มหาวิทยาลัย" name="filter_university">
                      </div>
                    </div>
                  </div>
                  <!-- FACULTY -->
                  <div class="col-lg-7" id="faculty_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_faculty">
                        <option selected="" value="0">Operator Faculty</option>
                        <option value="1">คณะ (is)</option>
                        <option value="2">ไม่เอาคณะ (isnot)</option>
                        <option value="3">คณะที่เป็น (contains)</option>
                        <option value="4">คณะที่ไม่เป็น (isnot contains)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="คณะ" name="filter_faculty">
                      </div>
                    </div>
                  </div>
                  <!-- GPA -->
                  <div class="col-lg-7" id="gpa_value1">
                    <div class="col-lg-4">
                      <select class="form-control" style="margin-top:0px" name="operator_gpa">
                        <option selected="" value="0">Operator GPA</option>
                        <option value="1">เท่ากับ (=)</option>
                        <option value="2">มากกว่าเท่ากับ (>=)</option>
                        <option value="3">น้อยกว่าเท่ากับ (<=)</option>
                        <option value="4">มากกว่า (>)</option>
                        <option value="5">น้อยกว่า (<)</option>
                      </select>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <input class="form-control" style="border-radius:5px;height:40px;margin-top:0px;" type="text" placeholder="เกรดเฉลี่ย" name="filter_gpa">
                      </div>
                    </div>
                  </div>
                  <!--  Delete Button  -->
                  <div class="col-lg-1">
                    <div class="text-center" style="margin-top: 8px;">
                      <button type="button" id="1" class="btn btn-simple btn-xs btn_remove"><i class="material-icons md-18 icon-delete">delete</i></button>
                    </div>
                  </div>
                </div><!-- End Row -->
              </div><!-- End filter_list -->

            </div><!-- End Filter -->
            <div class="footer">
              <hr />
              <div >
                <div class="row">
                  <button type="button" id="add" class="btn btn-icon" style="margin-left: 32px;"><i class="material-icons md-18 icon-add">add</i></button>
                  <button type="submit" id="submit" class="btn btn-submit " style="margin-left: 10px;"><i class="material-icons md-18 icon-submit">filter_list</i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form method="post">
      {% csrf_token %}
      <div class="col-md-12">
        <div class="fresh-table">
          <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->

        <div class="toolbar">
          <button type="button" id="alertBtn" class="btn btn-info">Add To Cart</button>
        </div>

        <table id="fresh-table" class="table">
          <thead>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-sortable="true">ID</th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="salary" data-sortable="true">Expected Salary</th>
            <th data-field="gpa" data-sortable="true">GPA</th>
            <th data-field="position">Position</th>
            <th data-field="actions" class="td-actions text-right" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
          </thead>
          <tbody>
            {% for candidate in Candidate %}
            <tr data-val="{{candidate.id_number}}">
              <td></td>
              <td>{{candidate.id_number}}</td>
              <td>{{candidate.firstname}} &nbsp&nbsp {{candidate.lastname}}</td>
              <td>{{candidate.salary}}</td>
              <td>{{candidate.nowEdu_gpa}}</td>
              <td>{{candidate.position}}</td>
              <td></td>
            </tr>
            {% endfor%}
          </tbody>
        </table>

      </div>
    </div>
  </form>
  <br>


</div>
</div>
{% endblock %}
{% block javascript %}
<!-- jquery Smart Filter -->
<script src="{% static 'js/filter-option.js' %}"></script>
<script src="{% static 'js/smart_filter.js' %}"></script>
<script type="text/javascript">
$alertBtn.click(function () {
  $("tbody input:checked").each(function() {
    value = $(this).parents("tr:first").data("val")
    console.log(value);
  });
});
</script>

<!-- <script type="text/javascript">
$(document).on('submit','#new_user_form',function(e){
e.preventDefault();

$.ajax({
type : 'POST',
url : 'skill/create/', // hardcoding urls? not a good idea, use
data : {
name : $('#name').val(),
type : $('#type').val(),
csrfmiddlewaretoken:"{{ csrf_token }}"
},
sucess:function(){}
});
});

</script> -->

{% endblock %}
