{% extends 'base_homepage.html' %}
{% load static %}

{% block stylesheet %}

{% endblock %}

{% block content %}
	<div class="wrapper wrapper-full-page">
    	<h2>Login</h2>
      <form method="post">
        {% csrf_token %}
          <div class="card card-plain">
              <div class="content">
                  {{ form.as_p }}
              </div>
              <div class="footer text-center">
                  <br>
                  <button type="submit" class="btn btn-info" style="margin-bottom:10px;">Login</button>
                  <br>
              </div>
          </div>
      </form>
	</div>
{% endblock %}
{% block javascript %}
<!-- <script src="{% static ' login/login-register.js' %}" type="text/javascript"></script> -->
{% endblock %}
