{% extends 'base_layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Candidate Details | WebRecruiter
{% endblock %}

{% block stylesheet %}
<style media="screen">
.form-group label{
  color: #ff9800;
  font-weight: 400;
}
.header{
  background-color: #FEDEBE;
  border-radius: 5px 5px 0px 0px;
}
.header .header-title .title{
  position: relative;
  margin-bottom: 7px;
  margin-top: -10px
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-1">
        <a href="{% url 'request_candidate' %}">
          <button type="button" class="btn btn-info btn-fill"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back Request</button>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="card card-user">
        <div class="content">
          <div class="col-lg-12">
            <h3>
              <div class="col-lg-8">
                {{ Selected_request.request_id }}
              </div>
              <div class="col-lg-4 text-right">
                <small>{{ Selected_request.datetime_add_request }}</small>
              </div>
            </h3>
          </div>
          <div class="row">
            <div class="col-lg-6" style="margin-top: 30px;"><!-- begin block0.1 -->
              <div class="text-center">
                <div class="row">

                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label text-right">Title :</label>
                      <div class="col-sm-8 text-left">
                        <p>{{ Selected_request.request_title }}</p>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label text-right">Last Update :</label>
                      <div class="col-sm-8 text-left">
                        <p>{{ Selected_request.datetime_update_request }}</p>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label text-right">Time :</label>
                      <div class="col-sm-8 text-left">
                        <p>{% if Day %}
                          {{ Day }} วัน
                          {% endif %}
                          {% if Hour %}
                          {{ Hour }} ชั่วโมง
                          {% endif %}
                          {% if Min %}
                          {{ Min }} นาที
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-lg-6" style="margin-top: 30px;"><!-- begin block0.2 -->
              <div class="text-center">
                <div class="row">
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label text-right">User :</label>
                      <div class="col-sm-8 text-left">
                        <p>{{ Selected_request.owner.user.first_name }} {{ Selected_request.owner.user.last_name }}</p>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-4 control-label text-right">Email :</label>
                      <div class="col-sm-8 text-left">
                        <p>{{ Selected_request.owner.user.email }}</p>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12" style="margin-top: 30px;margin-bottom: 30px;">
            <hr>
          </div>

          {% if Selected_request.request_type.request_type_id == '1' %}
          <div class="request_candidate">
            <div class="row">
              <div class="col-lg-6"><!-- begin block1 -->
                <div class="text-center">
                  <div class="row">
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-4 control-label text-right">Project Name :</label>
                        <div class="col-sm-8 text-left">
                          <p>{{ Selected_request.request_candidate.project.project_name }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-4 control-label text-right">Project Type :</label>
                        <div class="col-sm-8 text-left">
                          <p>{{ Selected_request.request_candidate.project.project_type.project_type_name }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-4 control-label text-right">Site :</label>
                        <div class="col-sm-8 text-left">
                          <p>{{ Selected_request.request_candidate.project.project_site }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-4 control-label text-right">ตำแหน่ง :</label>
                        <div class="col-sm-8 text-left">
                          {% if Selected_request.request_position.position_name == 'Other' %}
                            <p>{{ Selected_request.request_position_other }}</p>
                          {% else %}
                            <p>{{ Selected_request.request_position }}</p>
                          {% endif %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div><!-- End block1 -->
              <div class="col-lg-6"> <!-- Begin block2 -->
                <div class="text-center">
                  <div class="row">
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">จำนวนตาม TOR :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_candidate.tor_employee_amount }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">จำนวนตามจริง :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_candidate.now_employee_amount }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">จำนวนที่ขาด :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_candidate.empty_employee_amount }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">จำนวนที่ขาด ณ ปัจจุบัน :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_candidate.diff_empty_amount_now }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">ความเร่งด่วน :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_candidate.project.level.level_name }}</p>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div> <!-- End block2 -->
            </div>
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-12 control-label text-left">Requirement :</label>
                    <div class="col-sm-10 col-lg-offset-1 text-left">
                      <p>{{ Selected_request.request_candidate.requirement }}</p>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-12 control-label text-left">Certification :</label>
                    <div class="col-sm-10 col-lg-offset-1 text-left">
                      <p>{{ Selected_request.request_candidate.certification }}</p>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-12 control-label text-left">หมายเหตุ :</label>
                    <div class="col-sm-10 col-lg-offset-1 text-left">
                      <p>{{ Selected_request.request_candidate.note }}</p>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          {% else %}
          <div class="request_interview">
            <div class="row">
              <div class="col-lg-6"><!-- begin block1 -->
                <div class="text-center">
                  <div class="row">
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">Order Number :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_interview.order.ref_code }}</p>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">Detail Date of Interview :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_interview.date_interview }}</p>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div><!-- End block1 -->
            </div>
            <div class="row">
              <div class="col-lg-6"><!-- begin block1 -->
                <div class="text-center">
                  <div class="row">
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">หมายเหตุ :</label>
                        <div class="col-sm-6 text-left">
                          <p>{{ Selected_request.request_interview.note_interview }}</p>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div><!-- End block1 -->
            </div>
            <div class="row">
              <div class="col-lg-6"><!-- begin block1 -->
                <div class="text-center">
                  <div class="row">
                    <fieldset>
                      <div class="form-group">
                        <label class="col-sm-6 control-label text-right">Selected Candidate :</label>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div><!-- End block1 -->
            </div>
            <div class="row">
              <!-- <div class="col-lg-12"> -->
              <style media="screen">
                .table-hover > thead > tr > th {
                  color: #a49e93;
                  font-size: 0.9em;
                  font-weight: 300;
                }
              </style>
                <fieldset>
                  <div class="form-group">
                    <div class="col-sm-10 col-md-offset-1 text-left">
                      <div class="content table-responsive table-full-width">
                                <table class="table table-hover" style="background-color:#fcfaf9; border-radius:5px;">
                                    <thead>
                                      <th class="text-center"></th>
                                      <th class="text-center">เลขประจำตัวประชาชน</th>
                                    	<th class="text-center">ชื่อ</th>
                                      <th class="text-center">เบอร์มือถือ</th>
                                      <th class="text-center">สถานะ</th>
                                    </thead>
                                    <tbody>
                                      {% for item in Selected_request.request_interview.order.get_cart_items %}
                                        <tr>
                                        	<td class="text-center">{{ forloop.counter }}</td>
                                          <td class="text-center"><a href="{% url 'candidate_detail' item.candidate.id_number %}" style="color: #ff9800; font-weight: 400;">{{ item.candidate.id_number }}</a></td>
                                        	<td>{{ item.candidate.name_title }}&nbsp;{{ item.candidate.firstname }}&nbsp;&nbsp;{{ item.candidate.lastname }}</td>
                                          <td class="text-center">{{ item.candidate.mobile_no }}</td>
                                          <td>{{ item.interview_status.status_name }}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                    </div>
                  </div>
                </fieldset>
              <!-- </div> -->
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
    <!-- End Request Information -->
    <div class="col-lg-8 col-lg-offset-2 text-left">
      <h3>Comment<br/><small>Update Status or Information</small> </h3>
    </div>
    {% for comment in Comments %}
    <div class="col-lg-8 col-lg-offset-2 text-left">
      <div class="col-lg-12">
        <div class="card">
          <div class="header">
            <div class="header-title">
              <div class="row">
                <div class="col-lg-3 text-left">
                  <h6 class="title" style="font-weight: 500;">{{ comment.datetime_comment|date:"d/M/Y | H:i" }}</h6>
                </div>
                <div class="col-lg-7 text-left">
                  <h6 class="title" style="font-weight: 400; color:#e09b67;">{{ comment.comment_title }}</h6>
                </div>
                <div class="col-lg-2 text-right">
                  <h6 class="title">{{ comment.owner }}</h6>
                </div>
              </div>

            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-lg-12">
                <p>{{ comment.comment_detail }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="col-lg-8 col-lg-offset-2 text-left">
      <h3>Leave a Comment</h3>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-left">
      <div class="card">
        <div class="content">
          <form method="post">
            {% csrf_token %}
            <!-- <fieldset style="margin-bottom:20px;">
              <div class="form-group">
                <label class="col-sm-3 control-label">Comment Title</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="comment_title" required="required" />
                </div>
              </div>
            </fieldset> -->

            <fieldset style="margin-bottom:20px;">
              <div class="form-group">
                <label class="col-sm-4 control-label">Comment</label>
                <div class="col-sm-8">
                  <textarea name="comment_detail" rows="7" class="form-control" placeholder="Here can be your Comment !"></textarea>
                </div>
              </div>
            </fieldset>

            <fieldset style="margin-bottom:20px;">
              <div class="form-group">
                <label class="col-sm-4 control-label">Request Status</label>
                <div class="col-sm-5">
                  <select class="form-control" name="status" required="required">
                      <!-- <option selected value="0" disabled>สถานะ</option> -->
                    {% for status in Status %}
                      {% if status.status_name == LastStatus %}
                        <option selected value="{{ status.status_id }}">{{ status.status_name }} (current)</option>
                      {% else %}
                        <option value="{{ status.status_id }}">{{ status.status_name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </fieldset>
            {% if Selected_request.request_type.request_type_id == '1' %}
            <fieldset style="margin-bottom:20px;">
              <div class="form-group">
                <div class="col-sm-4 control-label">
                  <label class="checkbox">
                    <input type="checkbox" data-toggle="checkbox" class="checkbox_update_amount" value="1" onchange="showAmountField()" name="checkbox_update_amount">
                    จำนวนพนักงานที่สรรหาเพิ่ม {{Selected_request.request_candidate.is_full}}
                  </label>
                </div>
                <div class="">
                  <div class="inline">
                    <div class="col-sm-2">
                        <input class="form-control" type="number" name="update_amount" min="1" max="{{Selected_request.request_candidate.diff_empty_amount_now}}"/>

                    </div>
                    <label class="inline-block" style="margin-top: 15px;"> คน </label>
                  </div>
                </div>
              </div>
            </fieldset>

            {% endif %}

            <div class="row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info btn-fill">submit comment</button>
                {% if Selected_request.request_type.request_type_id == '2' %}
                <a class="open-modal" data-url="{% url 'update_interview_status' Selected_request.request_id %}">
                  <button type="button" id="1" class="btn btn-simple btn-xs">
                    <div style="color: #ff8000;">Update Interview Status</div>
                  </button>
                </a>
                {% endif %}
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}
{% block beforebody %}
<div id="modal-div">
  {% include 'modal.html' %}
</div>

{% endblock %}
{% block javascript %}
<script>
var modalDiv = $("#modal-div");

$("a.open-modal").on("click", function() {
  $.ajax({
    type : 'GET',
    url: $(this).attr("data-url"),
    success: function(data) {
      modalDiv.html(data);
      $("#update_status_modal").modal();
    }
  });
});
</script>
{% endblock %}
