{% load static %}
<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

</head>
<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="POST" enctype=multipart/form-data>
    {% csrf_token %}
    NORMAL |
    Add Skill : <input type="text" name="skill_name" placeholder="Skill">
    Select Skill Type :
    <select class="" name="skill_type">
      <option value="1">Developer</option>
      <option value="2">Network</option>
      <option value="3">System</option>
      <option value="4">Database Analysis</option>
    </select>
    <button type="submit" name="button" id="btnAdd" >Add</button>
    <button type="button" name="button" id="btnTest" onclick="myFunction({{Skill_name}})">Test</button>
  </form>
  <br>
  <form id="new_user_form">
    {% csrf_token %}
    AJAX |
    Add Skill : <input type="text" id="name" placeholder="Name" name="name" value="">
    Select Skill Type :
    <select class="" name="type" id="type">
      <option value="1">Developer</option>
      <option value="2">Network</option>
      <option value="3">System</option>
      <option value="4">Database Analysis</option>
    </select>
    <input type="submit" value="submit">
    <a href="javascript:ShowSkillList()"><input type="button" value="show"></a>
  </form>
  <br>
  <table border="3">
    <thead>
      <th>Skill Name</th>
      <th>Skill Type</th>
    </thead>
    <tbody>
      {% for skill in Skill %}
      <tr>
        <td>{{skill.skill_name}}</td>
        <td>{{skill.skill_type}}</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
  <div id="output">
    <h1>kkk</h1>
    <table border="3">
      <thead>
        <th>Skill Name</th>
        <th>Skill Type</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  H:{{ response_data.message }}

</body>
<script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).on('submit','#new_user_form',function(e){
  e.preventDefault();

  $.ajax({
    type : 'POST',
    url : 'skill/create/', // hardcoding urls? not a good idea, use
    data : {
      name : $('#name').val(),
      type : $('#type').val(),
      csrfmiddlewaretoken:"{{ csrf_token }}"
    },
    sucess:function(){}
  });
});

function ShowSkillList() {
  $.ajax({
    type : 'GET',
    url : 'skill/show/',
    dataType : "json",
    async : true,
    data : {
      csrfmiddlewaretoken:"{{ csrf_token }}"
    },
    success: function(json){
      $('#output').html(json.message);
      console.log(json.message)
      // $('.ajaxProgress').hide();

    }
  })
}
</script>

<script>
    $(function(){

        //button select all or cancel
        $("#select-all").click(function () {
            var all = $("input.select-all")[0];
            all.checked = !all.checked
            var checked = all.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });

        //button select invert
        $("#select-invert").click(function () {
            $("input.select-item").each(function (index,item) {
                item.checked = !item.checked;
            });
            checkSelected();
        });

        //button get selected info
        $("#selected").click(function () {
            var items=[];
            $("input.select-item:checked:checked").each(function (index,item) {
                items[index] = item.value;
            });
            if (items.length < 1) {
                alert("no selected items!!!");
            }else {
                var values = items.join(',');
                console.log(values);
                var html = $("<div></div>");
                html.html("selected:"+values);
                html.appendTo("body");
            }
        });

        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index,item) {
                item.checked = checked;
            });
        });

        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:"+total);
            console.log("len:"+len);
            all.checked = len===total;
        }
    });
</script>
</html>
