<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover" style="background-color:#fcfaf9; border-radius:5px;">
            <thead>
              <th class="text-center">ลำดับ</th>
              <th class="text-center">ตำแหน่ง</th>
              <th class="text-center">จำนวนตาม TOR</th>
              <th class="text-center">จำนวนตามจริง</th>
              <th class="text-center">จำนวนที่ขาด</th>
            </thead>
            <tbody>
                <tr>
                  <td>{{ instance.id }}</td>
                  <td>{{ instance.position }}</td>
                  <td>{{ instance.tor_amount }}</td>
                  <td>{{ instance.now_amount }}</td>
                  <td>{{ instance.diff_empty_amount }}</td>
                </tr>
            </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
